
/* sizes */
$main-size: 14px;
$big-size: 16px;

/* colors  */
$black-color: #000;
$white-color: #FFF;
$blue-color: #116ACC;
$navy-blue-color: #0c4582;
$light-blue-color: #a0c3ff;
$sky-blue: #1686fd;
$dark-blue-color: #374151;
$light-grey-color: #F3F4F6;
$grey-color: #6B7280;
$red-color: #FD4E5D;
$green-color: #76CA66;
$dark-color: #182233;

/* fonts  */
$font-family: "Ubuntu", sans-serif;
$second-family: "WorkSans", sans-serif;
